.dishDetails {
    display: flex;
    padding-top: 117px;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    color: white;
}

.dish {
    text-decoration: underline;
    padding-right: 30rem;
}

.reviewsContainer {
    display: grid;
    grid-template-columns: auto auto auto;
}

.reviewFormButton {
    background-color: #780B0B;
    color: white;
    height: 30px;
    width: 95px;
    margin-left: 30px;
    border-radius: 5px;
}