.dishCardInfo {
  width: 853px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dishTopInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 355px;
}

.pepperRating {
  margin-left: 30px;
  margin-right: 10px;
}

.dishName {
    text-decoration: underline;
}

.dishDescription {
    margin-top: 0%;
}

.reviewExistingDishButton, .deleteDishButton {
    background-color: #780B0B;
    color: white;
    height: 25px;
    width: 95px;
    align-self: flex-start;
}

.myoverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
  }
  
  .ReactModal__Overlay {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
  }
  
  .ReactModal__Overlay--after-open {
    opacity: 1;
  }
  
  .ReactModal__Overlay--before-close {
    opacity: 0;
  }

  .randomReviewClass {
    margin-top: 0%;
    margin-left: 15px;
  }
