.oldFormPage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.inputSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    margin-top: 10px;
}

.exitContainer {
    display: flex;
}

.exitModalImage {
    position: fixed;
    top: 0;
    right: 1px;
    height: 38px;
    width: 228px;
    cursor: pointer;
}

.fire {
    height: 100px;
    width: 100px;
}

.spiceRating {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.inputSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dishReviewInput {
    height: 150px;
}

.submitNewReviewButton {
    background-color: #780B0B;
    color: white;
    height: 40px;
    margin: 10px;
    border-radius: 10px;
}

.submitNewReviewButton:hover {
    background-color: darkgoldenrod;
    transform: scale(1.1); 
    transition: 0.2s ease-in;
  }