/* .loginForm {
} */

.loginModal {
  background-color: white;
  z-index: 5;
  position: absolute;
  top: 30vh;
  left: 42vw;
  border: 0px white;
  border-radius: 8px;
  padding: 10px;
}

.myoverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
  }
  
  .logInButton, .signInButton, .signOutButton {
    background-color: #780B0B;
    color: white;
    height: 40px;
    margin: 10px;
    border-radius: 10px;
  }

  .ReactModal__Overlay {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
  }
  
  .ReactModal__Overlay--after-open {
    opacity: 1;
  }
  
  .ReactModal__Overlay--before-close {
    opacity: 0;
  }

  .errorText {
    color: white;
    font-size: 50px;
  }
